<configuration>
    <!-- Silence Vert.x -->
    <logger name="io.vertx.core.impl.BlockedThreadChecker" level="OFF"/>
    <logger name="io.vertx" level="OFF"/>
    
    <!-- Debug for your package -->
    <logger name="io.resys" level="INFO"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>