<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <param name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>src/test/resources/migration/output/log.out.txt</file>
    <append>false</append>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>


  <logger name="io.vertx.core" level="ERROR" />
  <logger name="org.hibernate" level="ERROR" />
  <logger name="org.testcontainers" level="ERROR" />
  <logger name="org.jboss" level="ERROR" />
  <logger name="io.quarkus" level="ERROR" />

  <logger name="io.dialob.program" level="INFO" />
  <logger name="io.dialob.executor" level="OFF" />

  <logger name="io.dialob.client.spi.executor" level="INFO" />
  <logger name="io.dialob.client.spi.DialobProgramEnvirFactory" level="INFO" />
  <logger name="io.dialob.client.tests" level="DEBUG" />
  <logger name="io.resys.hdes.client.spi.groovy" level="OFF" />
  <logger name="io.resys.hdes.client.spi.envir" level="OFF" />

  <logger name="io.digiexpress" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger level="INFO" name="io.digiexpress.client.tests.migration">
    <appender-ref ref="FILE" />
  </logger>
</configuration>
